@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* { box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

/* -----------------------------------------------------------------------------------------------*\
                                        # HEADER
\*----------------------------------------------------------------------------------------------- */

#header {
  background: url('../assets/img/background/thanhpho.png');
  background-color: #ebcb80;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 120px;
  padding-top: 80px;
}

/*============================================== nav =============================================*/

#header .nav {
  top: 0px;
  position: fixed;
  width: 100%;
  color: aliceblue;
  padding: 30px 80px;
  display: flex;
  justify-content: space-between;
  background-color: #4b4b4b;
}

#header .nav .nav_logo p {
  font-weight: bold;
  font-size: 30px;
  color:#ebcb80;
}

#header .nav .nav_link {
  display: flex;
}
#header .nav .nav_link li {
  margin-top: 10px;
  list-style: none;
  margin-right: 20px;
}

#header .nav .nav_link li:hover{
  border-bottom: 2px solid white;
}

#header .nav .nav_link a {
  text-decoration: none;
  color:white;
}

#header .nav .nav_link .Take_a_tour {
  padding: 10px 30px;
  border: 1px solid white;
  background-color: #4b4b4b;
  border-radius: 30px;
}

#header .nav .nav_link .Take_a_tour:hover {
  border: 2px solid white;
}

/*======================================= header body ============================================*/

#header .header_body {
  color:#4b4b4b;
  margin-top: 150px;
  text-align: center;
}

#header .header_body .header_title {
  font-size: 14px;
  margin-bottom: 32px;
}

#header .header_body .header_title p {
  font-weight: bold;
  font-size: 34px;
}

#header .header_body .header_button {
  margin-bottom: 50px;
}

#header .header_body .header_button .text {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;
  margin-right: 20px;
}
#header .header_body .header_button .submit {
  padding: 5px 40px;
  border: 1.5px solid black;
  border-radius: 30px;
  background-color: transparent;
}

#header .header_body .header_button .submit:hover {
  background-color: #4b4b4b;
  color: aliceblue;
}
#header .header_body .icon ul li {
  display: inline-block;
  margin: 0 5px;
  padding: 10px 10px;
  border-radius: 100%;
  background: #4b4b4b;
}

#header .header_body .icon ul li .fa-plane , .fa-wallet , .fa-briefcase {
  background-color: #4b4b4b;
  color:white;
}
#header .header_body .icon ul li:hover {
  transform: scale(1.2);
}
/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Our_team
\*----------------------------------------------------------------------------------------------- */

#Our_team .container {
  color: #4b4b4b;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 30px;
}

#Our_team .container h1 {
  text-align: center;
}


#Our_team .images_1 {
  display: flex;
  justify-content: space-around;
  padding:  30px;
}

#Our_team .images_1 .image {
  display: flex;
  text-align:left;
  padding: 10px;
}

#Our_team .images_1 .image img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#Our_team .images_1 .image img:active {
  transform: scale(3.0);
}

#Our_team .images_2 {
  display: flex;
  justify-content: space-around;
  padding:  30px;
}

#Our_team .images_2 .image {
  display: flex;
  text-align:left;
  padding: 10px;
}

#Our_team .images_2 .image img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#Our_team .images_2 .image img:active {
  transform: scale(3.0);
}
/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Choose_Your_Plan
\*----------------------------------------------------------------------------------------------- */
#Choose_Your_Plan {
  padding-top: 30px;
  background: #4b4b4b;
  color: aliceblue;
}

#Choose_Your_Plan h2 {
  text-align: center;
}

#Choose_Your_Plan .container {
  margin: 0 80px;
  display: flex;
}

#Choose_Your_Plan fieldset {
  border: none;
  border-radius: 10px;
  padding: 20px 20px;
  margin:50px 30px;
  width: 280px;
  text-align: center;
}

#Choose_Your_Plan fieldset:active {
  transform: scale(1.2);
} 

.money { 
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.money .number {
  margin-top: -10px;
  font-size: 48px;
  font-weight: bold;
}

#Choose_Your_Plan .container button {
  padding: 5px 40px;
  border: none;
  border-radius: 30px;
}

#Choose_Your_Plan .container button:hover {
  background-color: aqua;
  color: #4b4b4b;
}

.purchase_silver {
  background: #4b4b4b;
  background-color: rgb(255, 255, 255,0.12);
  box-shadow: -1px 2px 10px 0px black;
}

.purchase_gold {
  color: #4b4b4b;
  background-color:#ebcb80;
  box-shadow: -1px 2px 10px 0px black;
}

.purchase_platinum {
  background: black;
  background-color: rgb(255, 255, 255,0.0005);
  box-shadow: -1px 2px 10px 0px black;
}

.purchase_silver h3, .purchase_platinum h3 {
  color:#ebcb80;
}

.purchase_silver button, .purchase_platinum button {
  background-color: #ebcb80;
}

.purchase_gold button {
  background-color:#4b4b4b;
  color: aliceblue;
}

.information {
  padding: 30px 30px;
  background-color: aliceblue;
  color: #4b4b4b;
  display: flex;
  justify-content: space-around;
}

.information_main {
  width: 300px;
  text-align: center;
}

.list {
  display: flex;
  justify-content: center;
  margin-left: 40px;
}

.information_main ul {
  list-style: circle;
  display: flex;
}

.information_main ul li {
  margin: 0 20px;
  font-size: 200%;
}

.list .disc {
  list-style: disc;
}

.return, .next {
  width: 50px;
  height: 50px;
  border: 1px solid #4b4b4b;
  background-color: aliceblue;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.return:hover, .next:hover {
  background-color: #4b4b4b;
  color: aliceblue;
}

.return:active, .next:active {
  transform: scale(1.2);
}

.information img:hover {
  transform: scale(1.2);
}

/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Advantages
\*----------------------------------------------------------------------------------------------- */
#Advantages {
  padding: 30px 30px;
  background: #4b4b4b;
  color: aliceblue;
}

#Advantages h2,p {
  text-align: center;
}

#Advantages h3 {
color: #ebcb80;
}

#Advantages .container {
  margin: 0 80px;
  display: flex;
}

#Advantages fieldset {
  border: none;
  border-radius: 10px;
  padding: 20px 20px;
  margin:50px 30px;
  width: 280px;
  text-align: center;
}

#Advantages fieldset:active {
  transform: scale(1.2);
} 

#Advantages .container button {
  background-color: #ebcb80;
  padding: 5px 40px;
  border: none;
  border-radius: 30px;
}

#Advantages .container button:hover {
  background-color: aqua;
  color: #4b4b4b;
}

.find_more {
  background: black;
  background-color: rgb(255, 255, 255,0.0005);
  box-shadow: -1px 2px 10px 0px black;
}

/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Places
\*----------------------------------------------------------------------------------------------- */

#Places {
  color: #4b4b4b;
  padding: 40px 0px;
}

#Places h2,ul {
  text-align: center;
}

#Places ul li{
  display: inline;
  margin:0 32px;
}

#Places fieldset {
  text-align: center;
  width: 1200px;
  height: 650px;
  border: none;
}

#Places fieldset img {
  margin: 4px 8px;
}

#Places fieldset img:active {
  transform: scale(1.5);
}

/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Create_An_Account
\*----------------------------------------------------------------------------------------------- */

#Create_An_Account {
  text-align: center;
  background: url("../assets/img/background/mountain.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 50px;
}

#Create_An_Account p {
  font-size: 36px;
  color: aliceblue;
}

#Create_An_Account form {
  margin: 0 auto;
  margin-top: 30px;
  width: 300px;
  height: 350px;
  padding: 10px 30px;
  background-color: #4b4b4b;
  border-radius: 3px;
}

#Create_An_Account h3,a {
  font-weight: 500;
  margin: 20px 0px;
  color: #ebcb80;
}

#Create_An_Account input {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
}

#Create_An_Account .submit {
  padding: 10px 40px;
  border: none;
  border-radius: 30px;
  background-color: #ebcb80;
  color: #4b4b4b;
}

#Create_An_Account .submit:hover {
  transform: scale(1.2);
  background-color: aquamarine;
}

#Create_An_Account .submit:active {
  background-color: transparent;
  border: 1px solid whitesmoke;
  color: aliceblue;
}

/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Contact
\*----------------------------------------------------------------------------------------------- */

#Contact {
  font-size: 14px;
  background-color: whitesmoke;
  color: #4b4b4b;
  padding: 30px;
  text-align: center;
}

#Contact h2 {
  font-size: 27px;
}

#Contact p,ul {
  text-align: left;
}

#Contact .contain {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.header_contact p {
  font-size: 20px;
} 

.header_contact ul {
  margin-left: 20px;
}
.header_contact ul li {
  padding-left: 20px;
}

.header_contact .location {
  list-style-image: url("../assets/img/icons/location.png");
}

.header_contact .mail {
  list-style-image: url("../assets/img/icons/mail.png");
}

.header_contact .phone {
  list-style-image: url("../assets/img/icons/phone.png");
  list-style-position: outside;
}

.main_contact {
  margin: 0px 40px;
}

.main_contact form {
  width: 550px;
  height: 500px;
  padding: 50px;
  border: 1px solid #4b4b4b;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 1px gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main_contact form input {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
}

.main_contact form textarea {
  width: 430px;
  height: 200px;
  border: 1px solid #4b4b4b;
  border-radius: 3px;
}

.main_contact .submit {
  margin: 0 auto;
  padding: 2px 50px;
  border: none;
  border-radius: 30px;
  background-color: #ebcb80;
}

.main_contact .submit:hover {
  border: 1px solid #4b4b4b;
  background-color: transparent;
}

.footer_contact .tittle {
  font-size: 20px;
}

.footer_contact img {
  margin: 0 10px;
}