@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
* { box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    max-width: 1440px;
}

/* -----------------------------------------------------------------------------------------------*\
                                        # HEADER
\*----------------------------------------------------------------------------------------------- */

.header {
  background: url('../assets/images/home/city.png');
  background-color: #ebcb80;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 120px;
  padding-top: 80px;
}

/*============================================== nav =============================================*/

#header .nav {
  top: 0px;
  position: fixed;
  width: 100%;
  height: 156px;
  color: #f0f8ff;
  padding: 55px 0px;
  display: flex;
  justify-content: center;
  background-color: #4b4b4bce;
}

#header .nav .nav-logo p {
  text-transform: uppercase;
  padding-right: 80px;
  font-weight: 400;
  font-size: 36px;
  color:#ebcb80;
  line-height: 42.19px;
  letter-spacing: 2px;
}

#header .nav .nav-link {
  display: flex;
  padding:0px 15px;
}
#header .nav .nav-link li {
  line-height: 20.09px;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 10px;
  list-style: none;
  margin-right: 44px;
  letter-spacing: 1px;
}

#header .nav .nav-link li:hover{
  border-bottom: 2px solid #ffffff;
}

#header .nav .nav-link a {
  text-decoration: none;
  color:#ffffff;
}

#header .nav .nav-link .Take-a-tour {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18.75px;
  padding: 10px 40px;
  border: 2px solid #ffffff;
  background-color: #4b4b4b;
  border-radius: 30px;
  margin-left: -17px;
  margin-right: -27px;
}

#header .nav .nav-link .Take-a-tour:hover {
  border: 2px solid #ffffff;
}

/*======================================= header body ============================================*/

#header .header-body {
  color:#4b4b4b;
  margin-top: 311px;
  text-align: center;
  padding-bottom: 90px;
  padding-left: 1px;
}

#header .header-body .header-title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 35px;
}

#header .header-body .header-title p {
  font-size: 44px;
  line-height: 48px;
  padding-right: 33px;
  margin-bottom: 22px;
  letter-spacing: -0.0363636em;
}

#header .header-body .header-button {
  margin-bottom: 58px;
}

#header .header-body .header-button .text {
  width: 270px; 
  height: 48px;
  padding: 11px 18px;
  border: 1px solid #000000;
  border-radius: 3px;
  background-color: transparent;
  margin-right: 18px;
}
#header .header-body .header-button .submit {
  letter-spacing: 1px;
  width: 198px;
  height: 50px;
  text-transform: uppercase;
  padding: 15px 40px 15px 36px;
  border: 1.5px solid #000000;
  border-radius: 30px;
  background-color: transparent;
}

#header .header-body .header-button .submit:hover {
  background-color: #4b4b4b;
  color: #f0f8ff;
}
#header .header-body .icons ul li {
  display: inline-block;
  margin: 1px 28px;
}

#header .header-body .icons ul li img {
  width: 80px;
  height: 80px;
}

#header .header-body .icons ul {
  text-align: center;
}

#header .header-body .icons ul li:hover {
  transform: scale(1.2);
}
/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Our-team
\*----------------------------------------------------------------------------------------------- */

.container {
  color: #4b4b4b;
  margin: 0 auto;
  overflow: hidden;
  padding: 55px 28px;
}

#Our-team .container .tittle {
  padding-left: 5px;
  letter-spacing: -0.0363636em;
  font-size: 44px;
  line-height: 48px;
  text-align: center;
}
#Our-team .name{
  font-size: 18px;
  font-weight: 400;
}
#Our-team .career{
  padding-bottom: 18px;
  font-weight: 400;
}

#Our-team .name-career{
  margin: 4px 10px 10px 4px;
}

#Our-team .images-1 {
  display: flex;
  justify-content: space-around;
  padding:  28px 121px 45px 100px;
}

#Our-team .images-1 .image {
  display: flex;
  text-align:left;
  margin-top: 25px;
}

#Our-team .images-1 .image img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#Our-team .images-1 .image img:active {
  transform: scale(3.0);
}

#Our-team .images-2 {
  display: flex;
  justify-content: space-around;
  padding:  24px 115px 37px 90px;
}

#Our-team .images-2 .image {
  display: flex;
  text-align:left;
}

#Our-team .images-2 .image img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#Our-team .images-2 .image .mistake-img{
  margin-left: 50px;
}

#Our-team .images-2 .image img:active {
  transform: scale(3.0);
}
/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Choose-Your-Plan
\*----------------------------------------------------------------------------------------------- */
.Choose-Your-Plan {
  padding-top: 70px;
  background: #4b4b4b;
  color: #f0f8ff;
}

#Choose-Your-Plan h2 {
  letter-spacing: -0.0363636em;
  font-weight: 400;
  font-size: 44px;
  line-height: 48px;
  text-align: center;
}

#Choose-Your-Plan .container {
  padding-top: 50px;
  padding-bottom: 115px;
  color: #d1d1d1;
  justify-content: center;
  display: flex;
}

#Choose-Your-Plan .card-purchase {
  border: none;
  border-radius: 10px;
  padding: 45px 0px;
  margin: 0px 15px;
  width: 360px;
  height: 396px;
  text-align: center;
}

#Choose-Your-Plan .card-purchase:active {
  transform: scale(1.2);
} 

.money {  
  display: flex;
  justify-content: center;
  margin: 27px 8px 15px 0px ;
  letter-spacing: -0.0363636em;
}

.year {
  font-size: 18px;
  padding-bottom: 28px;
}

.money p { 
  font-size: 24px;
  margin: 0 8px 0 0;
}

.money .number {
  font-size: 64px;
  line-height: 48px;
}

#Choose-Your-Plan .container button {
  text-transform: uppercase;
  padding: 15px 52px 15px 57px;
  letter-spacing: 1px;
  border: none;
  margin-top: 33px;
  border-radius: 30px;
}

#Choose-Your-Plan .container button:hover {
  background-color: #00ffff;
  color: #4b4b4b;
}

.purchase-silver {
  background: #4b4b4b;
  background-color: rgb(255, 255, 255,0.12);
  box-shadow: -1px 2px 10px 0px black;
}

.purchase-gold {
  color: #4b4b4b;
  background-color:#ebcb80;
  box-shadow: -1px 2px 10px 0px black;
}

.purchase-platinum {
  background: #000000;
  background-color: #ffffff00;
  box-shadow: -1px 2px 10px 0px black;
}

.purchase-silver h3, .purchase-platinum h3 {
  color:#ebcb80;
}

.Choose-Your-Plan h3{
  font-size: 18px;
  letter-spacing: 0.1em;
}

.purchase-silver button, .purchase-platinum button {
  background-color: #ebcb80;
}

.purchase-gold button {
  background-color:#4b4b4b;
  color: #f0f8ff;
}

.information {
  margin: 0 auto;
  padding: 100px 250px 60px 250px;
  background-color: white;
  color: #4b4b4b;
  display: flex;
  justify-content: space-between;
}

.information-main {
  width: 550px;
  text-align: center;
}

.information-name {
  font-size: 18px;
  padding-top: 23px;
  padding-bottom: 26px;
}

.list {
  font-size: 130%;
  display: flex;
  justify-content: center;
  margin-left: 53px;
}

.information-main ul {
  margin: 0px;
  margin-top: 25px;
  list-style: circle;
  display: flex;
  list-style-position: outside;
}

.information-main ul li {
  margin: 5px 16px;
  font-size: 200%;
}

.list .disc {
  list-style: disc;
}

.prev, .next {
  border: none;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.return:hover, .next:hover {
  background-color: #4b4b4b;
  color: aliceblue;
}

.return:active, .next:active {
  transform: scale(1.2);
}

.information img:hover {
  transform: scale(1.2);
}

/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Advantages
\*----------------------------------------------------------------------------------------------- */
.Advantages {
  padding: 44px 0px 34px 0px;
  background: #4b4b4b;
  color: #f0f8ff;
}

#Advantages h2 {
  letter-spacing: -0.0363636em;
  text-align: center;
  font-size: 44px;
  font-weight: 400;
  line-height: 48px;
}

#Advantages p {
  padding-top: 25px;
  text-align: center;
}

#Advantages .text {
  padding-top: 0px;
  text-align: center;
  line-height: 24px;
}

#Advantages .tittle {
  line-height: 24px;
  letter-spacing: 0.0625em;
  padding-top: 25px;
  text-align: center;
}

#Advantages img {
  width: 66px;
  height: 66px;
}

#Advantages h3 {
  letter-spacing: 2px;
  font-size: 18px;
  color: #ebcb80;
  line-height: 27px;
  padding-bottom: 22px;
}

#Advantages .container {
  padding-top: 33px;
  display: flex;  
  justify-content: center;
  color: #d1d1d1;
}

#Advantages .advantages-card {
  border: none;
  border-radius: 10px;
  padding: 40px 0px;
  margin:0px 15px;
  width: 360px;
  height: 396px;
  text-align: center;
}

#Advantages .advantages-card:active {
  transform: scale(1.2);
} 

#Advantages .container button {
  margin-top: 28px;
  margin-left: 5px;
  background-color: #ebcb80;
  padding: 17px 54px 13px 54px;
  border: none;
  border-radius: 30px;
  word-spacing: -1px;
  letter-spacing: 1px;
}

#Advantages .container button:hover {
  background-color: #00ffff;
  color: #4b4b4b;
}

.find-more {
  background: #000000;
  background-color: #ffffff00;
  box-shadow: -1px 2px 10px 0px #000000;
}

/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Places
\*----------------------------------------------------------------------------------------------- */

.Places {
  color: #4b4b4b;
  padding: 68px 0px;
  margin-right: 10px;
}

#Places h2 {
  text-align: center;
  font-size: 44px;
  line-height: 48px;
  font-weight: 400;
  margin-left: 23px;
  letter-spacing: -0.0363636em;
}

#Places ul {
  text-align: center;
  margin-left: 26px;
}

#Places ul li{
  font-size: 18px;
  display: inline-block;
  line-height: 27px;
  margin: 0 21px;
  letter-spacing: 0.0555555em;
}

#Places .images-places {
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
}

#Places .images-places .img-above {
  margin: 24px 6px 0px 18px;
}

#Places .images-places .img-below {
  margin: 13px 6px 0px 18px;
}

#Places fieldset img:active {
  transform: scale(1.5);
}

/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Create-An-Account
\*----------------------------------------------------------------------------------------------- */

.Create-An-Account {
  text-align: center;
  background: url("../assets/images/home/mountain.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 50px;
}

#Create-An-Account p {
  font-weight: 400;
  text-align: center;
  font-size: 44px;
  color: #f0f8ff;
}

#Create-An-Account form {
  margin: 0 auto;
  margin-top: 30px;
  width: 360px;
  height: 384px;
  padding: 28px 52px;
  background-color: #5f5f5f;
  border-radius: 3px;
}

#Create-An-Account h3 {
  font-weight: 800;
  margin-bottom: 29px;
  color: #ebcb80;
  font-size: 18px;
}
#Create-An-Account a {
  font-weight: 400;
  margin: 20px 0px;
  color: #ebcb80;
}

#Create-An-Account input {
  width: 256px;
  height: 36px;
  padding: 5px 10px;
  border: 1px solid #000000;
  border-radius: 3px;
}

#Create-An-Account .submit {
  width: 198px;
  height: 48px;
  padding: 10px 40px;
  border: none;
  border-radius: 30px;
  background-color: #ebcb80;
  color: #4b4b4b;
}

#Create-An-Account .submit:hover {
  transform: scale(1.2);
  background-color: #7fffd4;
}

#Create-An-Account .submit:active {
  background-color: transparent;
  border: 1px solid #f5f5f5;
  color: #f0f8ff;
}

/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Contact
\*----------------------------------------------------------------------------------------------- */

.Contact{
  font-size: 16px;
  background-color: #f5f5f5;
  color: #4b4b4b;
  padding: 30px;
  text-align: center;
}

#Contact h2 {
  font-size: 44px;
  font-weight: 400;
}

#Contact p,ul {
  text-align: left;
}

#Contact .contain {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.header-contact p {
  font-size: 18px;
} 

.header-contact a {
  text-decoration: none;
  color: #4b4b4b;
}

.header-contact ul {
  margin-left: 20px;
}
.header-contact ul li {
  padding-left: 20px;
}

.header-contact .location {
  list-style-image: url("../assets/img/icons/location.png");
}

.header-contact .mail {
  list-style-image: url("../assets/img/icons/mail.png");
}

.header-contact .phone {
  list-style-image: url("../assets/img/icons/phone.png");
  list-style-position: outside;
}

.main-contact {
  margin: 0px 40px;
}

.main-contact form {
  width: 536px;
  height: 414px;
  padding: 40px 60px;
  border: 1px solid #4b4b4b;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 1px #808080;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-contact form input {
  width: 200px;
  padding: 5px 10px;
  border: 0.5px solid #000000;
  border-radius: 3px;
}

.main-contact form textarea {
  width: 420px;
  height: 120px;
  border: 1px solid #4b4b4b;
  border-radius: 3px;
}

.main-contact .submit {
  width: 210px;
  height: 47px;
  margin: 0 auto;
  border: none;
  border-radius: 30px;
  background-color: #ebcb80;
}

.main-contact .submit:hover {
  border: 1px solid #4b4b4b;
  background-color: transparent;
}

.footer-contact .tittle {
  font-size: 20px;
}

.footer-contact img {
  margin: 0 10px;
}

/* -----------------------------------------------------------------------------------------------*\
                                        #FOOTER
\*----------------------------------------------------------------------------------------------- */
.footer {
  background-color: #4b4b4b;
  color: #d1d1d1;
  padding: 40px 80px 20px 80px;
}

#footer .footer-introduction {
  display: flex;
  justify-content: space-between;
}

#footer .footer-introduction p {
  text-align: left;
  color: #ffffff;
  font-size: 18px;
}

#footer .footer-introduction img {
  width: 14%;
  height: 17%;
  margin-right: 20px;
}

#footer .footer-link {
  display: flex;
  justify-content: space-between;
}

#footer .footer-link ul {
  display: flex;
  list-style: none;
}

#footer .footer-link ul li {
  margin: 0 10px;
  font-size: 18px;
}

#footer .footer-link ul a {
  text-decoration: none;
  color: #ffffff;
}

#footer .footer-link ul li:hover {
  border-bottom: 2px solid #ffffff;
}

#footer .line {
  margin: 42px 50px 29px 50px;
  background: white;
  height: 1px;
}