@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
* { box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    max-width: 1440px;
}
/* general */
html {
  cursor:url('../assets/images/icons/cursor.png'), auto;
}
input {
  caret-color:#ff50d9;
  font-family: 'Roboto', sans-serif;
}


/* -----------------------------------------------------------------------------------------------*\
                                        # HEADER
\*----------------------------------------------------------------------------------------------- */

.main-header {
  background: url('../assets/images/home/city.png');
  background-color: #ebcb80;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 120px;
  padding-top: 80px;
}

/*============================================== nav =============================================*/

.main-header .nav {
  top: 0px;
  position: fixed;
  width: 100%;
  height: 156px;
  color: #f0f8ff;
  padding: 53px 0px;
  display: flex;
  justify-content: center;
  background-color: #4b4b4bce;
}

.main-header .nav-logo .logo {
  padding: 7px 105px 0px 35px;
}

.main-header .nav .nav-link {
  display: flex;
  padding:0px 15px;
}

.main-header .nav-link .main-link {
  line-height: 20.09px;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 12px;
  list-style: none;
  margin-left: 44px;
  letter-spacing: 1px;
}

.main-header .nav-link li:hover{
  border-bottom: 2px solid #ffffff;
}

.main-header .nav-link a {
  text-decoration: none;
  color:#ffffff;
}

.main-header .nav-link .take-a-tour {
  list-style: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin:0px 5px 2px 26px;
  font-size: 16px;
  line-height: 18.75px;
  padding: 12px 35px 8px 35px;
  border: 2px solid #ffffff;
  background-color: #4b4b4b;
  border-radius: 30px;
}

.main-header .nav-link .take-a-tour:hover {
  border: 2px solid #ffffff;
}

/*======================================= header body ============================================*/

.main-header .header-body {
  color:#4b4b4b;
  margin-top: 311px;
  text-align: center;
  padding-bottom: 90px;
  padding-left: 1px;
}

.main-header .header-body .header-title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 35px;
}

.main-header .header-body .header-title p {
  font-size: 44px;
  line-height: 48px;
  padding-right: 33px;
  margin-bottom: 22px;
  letter-spacing: -0.0363636em;
}

.main-header .header-body .header-button {
  margin-bottom: 58px;
}

.main-header .header-button .text {
  width: 270px; 
  height: 48px;
  padding: 11px 18px;
  border: 1px solid #000000;
  border-radius: 3px;
  background-color: transparent;
  margin-right: 18px;
}

.main-header .header-button .submit {
  letter-spacing: 1px;
  width: 198px;
  height: 50px;
  text-transform: uppercase;
  padding: 15px 40px 15px 36px;
  border: 1.5px solid #000000;
  border-radius: 30px;
  background-color: transparent;
}

.main-header .header-button .submit:hover {
  background-color: #4b4b4b;
  color: #f0f8ff;
}
.main-header .header-body .icons ul>li {
  display: inline-block;
  margin: 1px 28px;
}

.main-header .header-body .icons ul>li img {
  width: 80px;
  height: 80px;
}

.main-header .header-body .icons ul {
  text-align: center;
}

.main-header .header-body .icons ul>li:hover {
  transform: scale(1.2);
}
/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Our-team
\*----------------------------------------------------------------------------------------------- */

.container {
  color: #4b4b4b;
  margin: 0 auto;
  overflow: hidden;
  padding: 55px 28px;
}

.our-team .container .title {
  padding-left: 5px;
  letter-spacing: -0.0363636em;
  font-size: 44px;
  line-height: 48px;
  text-align: center;
}

.our-team .container .name {
  font-size: 18px;
  font-weight: 400;
}
.our-team .container .career {
  padding-bottom: 18px;
  font-weight: 400;
}

.our-team .container .name-career {
  margin: 4px 10px 10px 4px;
}

.our-team .container .images-1 {
  display: flex;
  justify-content: space-around;
  padding:  28px 121px 45px 100px;
}

.our-team .container .images-1 .image {
  display: flex;
  text-align:left;
  margin-top: 25px;
}

.our-team .container .images-1 .image img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.our-team .container .images-1 .image img:active {
  transform: scale(3.0);
}

.our-team .container .images-2 {
  display: flex;
  justify-content: space-around;
  padding:  24px 115px 37px 90px;
}

.our-team .container .images-2 .image {
  display: flex;
  text-align:left;
}

.our-team .container .images-2 .image img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.our-team .container .images-2 .image .mistake-img{
  margin-left: 50px;
}

.our-team .container .images-2 .image img:active {
  transform: scale(3.0);
}
/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Choose-Your-Plan
\*----------------------------------------------------------------------------------------------- */
.choose-your-plan {
  padding-top: 70px;
  background: #4b4b4b;
  color: #f0f8ff;
}

.choose-your-plan h2 {
  letter-spacing: -0.0363636em;
  font-weight: 400;
  font-size: 44px;
  line-height: 48px;
  text-align: center;
}

.choose-your-plan .container {
  padding-top: 50px;
  padding-bottom: 115px;
  color: #d1d1d1;
  justify-content: center;
  display: flex;
}

.choose-your-plan .card-purchase {
  border: none;
  border-radius: 10px;
  padding: 45px 0px;
  margin: 0px 15px;
  width: 360px;
  height: 396px;
  text-align: center;
}

.choose-your-plan .card-purchase:active {
  transform: scale(1.2);
} 

.money {  
  display: flex;
  justify-content: center;
  margin: 27px 8px 15px 0px ;
  letter-spacing: -0.0363636em;
}

.year {
  font-size: 18px;
  padding-bottom: 28px;
}

.money p { 
  font-size: 24px;
  margin: 0 8px 0 0;
}

.money .number {
  font-size: 64px;
  line-height: 48px;
}

.choose-your-plan .container button {
  text-transform: uppercase;
  padding: 15px 52px 15px 57px;
  letter-spacing: 1px;
  border: none;
  margin-top: 33px;
  border-radius: 30px;
}

.choose-your-plan .container button:hover {
  background-color: #00ffff;
  color: #4b4b4b;
}

.purchase-silver {
  background: #4b4b4b;
  background-color: rgb(255, 255, 255,0.12);
  box-shadow: -1px 2px 10px 0px black;
}

.purchase-gold {
  color: #4b4b4b;
  background-color:#ebcb80;
  box-shadow: -1px 2px 10px 0px black;
}

.purchase-platinum {
  background: #000000;
  background-color: #ffffff00;
  box-shadow: -1px 2px 10px 0px black;
}

.purchase-silver h3, .purchase-platinum h3 {
  color:#ebcb80;
}

.choose-Your-Plan h3{
  font-size: 18px;
  letter-spacing: 0.1em;
}

.purchase-silver button, .purchase-platinum button {
  background-color: #ebcb80;
}

.purchase-gold button {
  background-color:#4b4b4b;
  color: #f0f8ff;
}

.information {
  margin: 0 auto;
  padding: 100px 250px 60px 250px;
  background-color: white;
  color: #4b4b4b;
  display: flex;
  justify-content: space-between;
}

.information-main {
  width: 550px;
  text-align: center;
}

.information-name {
  font-size: 18px;
  padding-top: 23px;
  padding-bottom: 26px;
}

.list {
  font-size: 130%;
  display: flex;
  justify-content: center;
  margin-left: 53px;
}

.information-main ul {
  margin: 0px;
  margin-top: 25px;
  list-style: circle;
  display: flex;
  list-style-position: outside;
}

.information-main ul li {
  margin: 5px 16px;
  font-size: 200%;
}

.list .disc {
  list-style: disc;
}

.prev, .next {
  border: none;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.return:hover, .next:hover {
  background-color: #4b4b4b;
  color: aliceblue;
}

.return:active, .next:active {
  transform: scale(1.2);
}

.information img:hover {
  transform: scale(1.2);
}

/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Advantages
\*----------------------------------------------------------------------------------------------- */
.advantages {
  padding: 44px 0px 34px 0px;
  background: #4b4b4b;
  color: #f0f8ff;
}

.advantages h2 {
  letter-spacing: -0.0363636em;
  text-align: center;
  font-size: 44px;
  font-weight: 400;
  line-height: 48px;
}

.advantages p {
  padding-top: 25px;
  text-align: center;
}

.advantages .text {
  padding-top: 0px;
  text-align: center;
  line-height: 24px;
}

.advantages .title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0625em;
  padding-top: 25px;
  text-align: center;
}

.advantages img {
  width: 66px;
  height: 66px;
}

.advantages h3 {
  letter-spacing: 2px;
  font-size: 18px;
  color: #ebcb80;
  line-height: 27px;
  padding-bottom: 22px;
}

.advantages .container {
  padding-top: 33px;
  display: flex;  
  justify-content: center;
  color: #d1d1d1;
}

.advantages .advantages-card {
  border: none;
  border-radius: 10px;
  padding: 40px 0px;
  margin:0px 15px;
  width: 360px;
  height: 396px;
  text-align: center;
}

.advantages .advantages-card:active {
  transform: scale(1.2);
} 

.advantages .container button {
  margin-top: 28px;
  margin-left: 5px;
  background-color: #ebcb80;
  padding: 17px 54px 13px 54px;
  border: none;
  border-radius: 30px;
  word-spacing: -1px;
  letter-spacing: 1px;
}

.advantages .container button:hover {
  background-color: #00ffff;
  color: #4b4b4b;
}

.find-more {
  background: #000000;
  background-color: #ffffff00;
  box-shadow: -1px 2px 10px 0px #000000;
}

/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Places
\*----------------------------------------------------------------------------------------------- */

.places {
  color: #4b4b4b;
  padding: 68px 0px 85px 0px;
  margin-right: 10px;
}

.places h2 {
  text-align: center;
  font-size: 44px;
  line-height: 48px;
  font-weight: 400;
  margin-left: 23px;
  letter-spacing: -0.0363636em;
}

.places ul {
  text-align: center;
  margin-left: 26px;
}

.places ul>li{
  font-size: 18px;
  display: inline-block;
  line-height: 27px;
  margin: 0 21px;
  letter-spacing: 0.0555555em;
}

.places .images-places {
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
}

.places .images-places .img-above {
  margin: 24px 6px 0px 18px;
}

.places .images-places .img-below {
  margin: 13px 6px 0px 18px;
}

/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Create-An-Account
\*----------------------------------------------------------------------------------------------- */

.create-an-account {
  text-align: center;
  background: url("../assets/images/home/mountain.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 50px 46px 50px;
}

.create-an-account p {
  letter-spacing: -0.0363636em;
  font-weight: 400;
  text-align: center;
  font-size: 44px;
  color: #f0f8ff;
}

.create-an-account form {
  margin: 0 auto;
  margin-top: 30px;
  width: 360px;
  height: 384px;
  padding: 28px 52px;
  background-color: #5f5f5f;
  border-radius: 3px;
}

.create-an-account h3 {
  letter-spacing: 0.0555555em;
  font-weight: bold;
  margin-bottom: 29px;
  color: #ebcb80;
  font-size: 18px;
  line-height: 27px;
  word-spacing: 6px;
  padding-right: 5px;
}
.create-an-account a {
  font-weight: 400;
  margin: 18px 0px;
  color: #ebcb80;
}

.create-an-account input {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2.5px;
  width: 256px;
  height: 36px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
}

.create-an-account .submit {
  width: 198px;
  height: 48px;
  padding: 10px 40px;
  border: none;
  border-radius: 30px;
  background-color: #ebcb80;
  color: #4b4b4b;
}

.create-an-account .submit:hover {
  transform: scale(1.2);
  background-color: #7fffd4;
}

.create-an-account .submit:active {
  background-color: transparent;
  border: 1px solid #f5f5f5;
  color: #f0f8ff;
}

/* -----------------------------------------------------------------------------------------------*\
                                        # SECTION: Contact
\*----------------------------------------------------------------------------------------------- */

.contact {
  font-size: 16px;
  background-color: #f5f5f5;
  color: #4b4b4b;
  padding: 30px;
  text-align: center;
}

.contact h2 {
  font-size: 44px;
  font-weight: 400;
}

.contact p,ul {
  text-align: left;
}

.contact .contain {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.header-contact p {
  font-size: 18px;
} 

.header-contact a {
  text-decoration: none;
  color: #4b4b4b;
}

.header-contact ul {
  margin-left: 20px;
}
.header-contact ul>li {
  padding-left: 20px;
}

.header-contact .location {
  list-style-image: url("../assets/img/icons/location.png");
}

.header-contact .mail {
  list-style-image: url("../assets/img/icons/mail.png");
}

.header-contact .phone {
  list-style-image: url("../assets/img/icons/phone.png");
  list-style-position: outside;
}

.main-contact {
  margin: 0px 40px;
}

.main-contact form {
  width: 536px;
  height: 414px;
  padding: 40px 60px;
  border: 1px solid #4b4b4b;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 1px #808080;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-contact form input {
  font-family: 'Roboto', sans-serif;
  width: 200px;
  padding: 5px 10px;
  border: 0.5px solid #000000;
  border-radius: 3px;
}

.main-contact form textarea {
  width: 420px;
  height: 120px;
  border: 1px solid #4b4b4b;
  border-radius: 3px;
}

.main-contact .submit {
  width: 210px;
  height: 47px;
  margin: 0 auto;
  border: none;
  border-radius: 30px;
  background-color: #ebcb80;
}

.main-contact .submit:hover {
  border: 1px solid #4b4b4b;
  background-color: transparent;
}

.main-contact .title {
  font-size: 20px;
}

.main-contact img {
  margin: 0 10px;
}

/* -----------------------------------------------------------------------------------------------*\
                                        #FOOTER
\*----------------------------------------------------------------------------------------------- */
.main-footer {
  background-color: #4b4b4b;
  color: #d1d1d1;
  padding: 40px 80px 20px 80px;
}

.main-footer .footer-introduction {
  display: flex;
  justify-content: space-between;
}

.main-footer .footer-introduction p {
  text-align: left;
  color: #ffffff;
  font-size: 18px;
}

.main-footer .footer-introduction img {
  width: 14%;
  height: 17%;
  margin-right: 20px;
}

.main-footer .footer-link {
  display: flex;
  justify-content: space-between;
}

.main-footer .footer-link ul {
  display: flex;
  list-style: none;
}

.main-footer .footer-link ul>li {
  margin: 0 10px;
  font-size: 18px;
}

.main-footer .footer-link ul a {
  text-decoration: none;
  color: #ffffff;
}

.main-footer .footer-link ul>li:hover {
  border-bottom: 2px solid #ffffff;
}

.main-footer .line {
  margin: 42px 50px 29px 50px;
  background: white;
  height: 1px;
}